*{
    
    margin:0px;
    
   
    font-family: "inter";
}

#logo{
    margin-left: 75px;
    margin-top: 25px;
    
}

#titulo-menusuperior{
margin-top: 35px;
margin-left: 100px;

}

#paragrafo-superior{
    margin-top: 35px;
    margin-left: 100px;
    padding-bottom: 50px;

}
#menusuperior{
    background-image: url(imagens/fundo-superior.svg);
    color:white;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns:auto;
}
.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns:auto ;
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#titulovideo{
color:#247BA0;
margin-top: 50px;

}

#video{
    margin: 50px 10px 50px 25px
}

#carrosel{
    background-color:#247BA0 ;
    padding: 50px;
}

#titulocarrosel{
    color: white;
    text-align: center;
    font-size: 25px;
}
#div-cards{
    display: grid;
    grid-auto-flow:column;
}
.card{
    margin-left: 50px;
    margin-top: 25px;
}

#seta-esquerda{
    display: none;
}

#bruna{
    display: none;
}

.seta{
    margin-top: 55%;
    cursor: pointer;

}
.seta:hover{
    transform:translateY(-7px);
    transition-duration: 0.2s;
}

#formulario{
text-align: center;
}

#tituloformulario{
font-size: 25px;
margin:25px;
color: #383838;
}

input{
    width: 300px;
    height: 30px;
    background-color: #EAECE5;
    border-radius: 5px;
    margin: 15px;
    border: 0px;
    padding-left: 10px;
    
}
button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 25px;
}
button:hover{
    background-color: #3187ac;
    color:white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px; color: #343738;
    transition-duration: 0,6s;

}